<template>
    <div name="modal">
        <div class="modal fade" id="appointmentFormModal" tabindex="-1" role="dialog" aria-labelledby="appointmentFormModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" >Task</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <FormContainer>
                                <BaseInput v-model="name" label="Name" name="name" type="text" />

                                <BaseInput v-model="date" label="Date" name="date" type="date" />
                                <BaseInput v-model="time" label="Time" name="time" type="time" />

                                <BaseTextArea v-model="note" label="Note" name="note" type="text" />

                                <p style="color: red;" v-if="error">{{this.error}}</p>
                            </FormContainer>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BaseTextArea from "../Base/BaseTextArea";
    export default {
        name: "AppointmentForm",
        components: {BaseTextArea}
    }
</script>

<style scoped>

</style>