<template>
    <div class="task-card col-lg-3 col-md-4 col-sm-6">
        <div class="card card-pointer">
            <div class="card-body">
                <p>{{ task.name }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TaskCard",
        props: ["task"]
    }
</script>

<style scoped>

</style>