<template>
    <div class="home">
        <template v-if="!user">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Welcome anonymous</h3>
                            </div>
                            <div class="panel-body">
                                <router-link to="/login">Login</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div>
                <NavbarContainer/>
                <DashboardPage v-bind:userId=userId />
            </div>
        </template>
    </div>
</template>

<script>
    // @ is an alias to /src

    import DashboardPage from "../components/Page/DashboardPage";
    import NavbarContainer from "../components/NavbarContainer";

    import firebase from 'firebase/app';
    import {firestoreDb} from '@/firebase';

    export default {
        name: `home`,
        components: {NavbarContainer, DashboardPage},
        data () {
            return {
                userId: null
            }
        },
        computed: {
            user() {
                return this.$store.state.user
            }
        }
    };
</script>
