<template>
    <div class="appointment">
        <template v-if="!user">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4" v-if="isReady">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Welcome anonymous</h3>
                            </div>
                            <div class="panel-body">
                                <router-link to="/login">Login</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div>
                <NavbarContainer />
                <ProjectPage />
            </div>
        </template>
    </div>
</template>

<script>
    import ProjectPage from "../components/Page/ProjectPage";
    import NavbarContainer from "../components/NavbarContainer";

    export default {
        name: `project`,
        components: {NavbarContainer, ProjectPage},
        data () {
            return {
                isReady: false
            }
        },
        computed: {
            user() {
                return this.$store.state.user
            }
        },
        mounted() {
            let self = this;
            setTimeout(function () {
                console.log(self.$store.state.user);
                self.isReady = true;
            }, 1500)
        }
    };
</script>
