<script>
export default {
  functional: true,
  props: {
    text: {
      required: true,
      type: String
    },
    type: {
      default: 'button',
      type: String
    }
  },
  render(h, { props, listeners }) {
    return h('button', {
      attrs: {
        type: props.type,
          class: "btn btn-primary"
      },
      domProps: {
        innerText: props.text
      },
      on: listeners
    });
  }
};
</script>

<style lang="scss" scoped>
button {
  padding: 8px 12px;
  cursor: pointer;
  width: 100%;
    margin-top: 10px;
}
</style>
