<template functional>
    <div class="form-section col-sm-12">
        <label class="" v-if="props.label">{{props.label}}</label>
        <textarea class="" @input="listeners['input']($event.target.value)" :value="props.value" :type="props.type" :name="props.name" />
    </div>
</template>
<script>
    export default {
        props: {
            label: {
                default: 'Label',
                type: String
            },
            type: {
                type: String,
                default: 'Text'
            },
            name: {
                required: true,
                type: String
            },
            value: {
                required: true
            }
        }
    };
</script>

<style lang="scss" scoped>
    .form-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        label {
            display: block;
            width: 20%;
            text-align: left;
            font-weight: 600;
        }

        textarea {
            flex-grow: 1;
            width: 100%;
            display: block;
            padding: 4px;
        }
    }
</style>
