<template>
    <div id='calendar'></div>
</template>

<script>

    import $ from 'jquery';
    import 'fullcalendar';

    export default {
        name: "BaseCalendar",
        props: ["events"],
        watch: {
          events(newVal, oldVal) {
              $('#calendar').fullCalendar({
                  eventSources: [
                      {
                          events: newVal
                      }
                  ]
              })
          }
        },
        mounted() {
            $('#calendar').fullCalendar({
                eventSources: [
                    {
                        events: this.events
                    }
                ]
            })
        }
    }
</script>

<style scoped>


</style>