<script>
export default {
  functional: true,
  props: {
    width: {
      type: String
    }
  },
  render(h, ctx) {
    return h(
      'form',
      {
          class: "row",
        style: {
          width: ctx.props.width
        }
      },
      ctx.slots().default
    );
  }
};
</script>
<style lang="scss" scoped>
form {
  margin: 0 auto;
  padding: 20px 40px;
}
</style>
