<template>
    <div>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/project"><i class="fa fa-table fa-fw"></i> Project</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SideMenuContainer",
        mounted() {
            $('#side-menu').metisMenu();
        }
    }
</script>

<style scoped>

</style>