<template>
    <div>
        <div>
            <SideMenuContainer/>
        </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ tasks.length }}</div>
                                    <div>Today Task!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/#tasks">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-table fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ projects.length }}</div>
                                    <div>Pending Project!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/project">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div id="tasks" class="col-lg-9">
                    <div class="panel panel-default">
                        <!--<div class="panel-heading">-->
                            <!--<i class="fa fa-bar-chart-o fa-fw"></i> Appointments-->
                        <!--</div>-->
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="card" v-for="task in tasks">
                                        <div class="box ">
                                            <div class="card-block">
                                                <h4 class="card-title">{{ event.title }}</h4>
                                                <div class="meta">
                                                    <a href="#">{{ event.start }} - {{ event.end }}</a>
                                                </div>
                                                <div class="card-text">
                                                    {{ event.note }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i> Project progress
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix" v-for="project in projects" >
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <p>
                                            {{ task.detail }}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SideMenuContainer from "../SideMenuContainer";
    import BaseCalendar from "../Base/BaseCalendar";
    import TaskCard from "../Card/TaskCard";

    import firebase from 'firebase/app';
    import {firestoreDb} from '@/firebase';

    export default {
        name: "DashboardPage",
        components: {TaskCard, BaseCalendar, SideMenuContainer},
        props: ["userId"],
        data() {
            return {
                tasks: [],
                projects: [],
                events: [
                    {
                        title  : 'event1',
                        start  : '2018-12-01',
                        note: 'event1'
                    },
                    {
                        title  : 'event2',
                        start  : '2018-12-05',
                        end    : '2018-12-07',
                        note: 'event1'
                    },
                    {
                        title  : 'event2-1',
                        start  : '2018-12-05',
                        end    : '2018-12-07',
                        note: 'event1'
                    },
                    {
                        title  : 'event3',
                        start  : '2018-12-09T12:30:00',
                        note: 'event1'
                    }
                ]
            }
        },
        mounted() {
            firestoreDb
                .collection('tasks')
                .get().then((querySnapshot) => {
                    querySnapshot.forEach((doc) => {
                        this.tasks.push({
                            id: doc.id,
                            detail: doc.data().detail,
                            note: "https://picsum.photos/900/250/?image=18",
                            deadline: moment(doc.data().deadline).fromNow(),
                            project: doc.data().project,
                        });
                    });
            });

            firestoreDb
                .collection('projects')
                .get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    this.projects.push({
                        id: doc.id,
                        name: doc.data().name,
                        deadline: moment(doc.data().deadline).fromNow(),
                        is_done:  doc.data().is_done
                    });
                });
            });
        }
    }
</script>

<style scoped>

</style>