<template>
    <div>
        <div>
            <SideMenuContainer/>
        </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Project</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8 col-sm-12">
                                    <BaseCalendar v-bind:events=events />
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="card" v-for="event in events">
                                        <div class="box ">
                                            <div class="card-block">
                                                <h4 class="card-title">{{ event.title }}</h4>
                                                <div class="meta">
                                                    <a href="#">{{ event.start }} - {{ event.end }}</a>
                                                </div>
                                                <div class="card-text">
                                                    {{ event.note }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SideMenuContainer from "../SideMenuContainer";
    import BaseCalendar from "../Base/BaseCalendar";

    export default {
        name: "ProjectPage",
        components: {BaseCalendar, SideMenuContainer},
        data() {
            return {
                events: [
                    {
                        title  : 'event1',
                        start  : '2018-12-01',
                        note: 'event1'
                    },
                    {
                        title  : 'event2',
                        start  : '2018-12-05',
                        end    : '2018-12-07',
                        note: 'event1'
                    },
                    {
                        title  : 'event2-1',
                        start  : '2018-12-05',
                        end    : '2018-12-07',
                        note: 'event1'
                    },
                    {
                        title  : 'event3',
                        start  : '2018-12-09T12:30:00',
                        note: 'event1'
                    }
                ]
            }
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>